package cmd

import (
	"fmt"
	"os"

	"github.com/dmitrymomot/lile/v2"
)

var cfgFile string

// RootCmd rool cli command
var RootCmd = lile.BaseCommand("{{ .Name }}", "A gRPC based service")

// Execute ...
func Execute() {
	if err := RootCmd.Execute(); err != nil {
		fmt.Println(err)
		os.Exit(-1)
	}
}
