package server

import (
	"errors"

	"context"
	{{ dedupImports .InputImport .OutputImport }}
)

// {{ .Name }} ...
func (s {{ .ServiceName }}Server) {{ .Name }}(ctx context.Context, r *{{ .InType }}) (*{{ .OutType }}, error) {
	return nil, errors.New("not yet implemented")
}
